# Data Preprocessing Guide

## What is Data Preprocessing?
Data preprocessing is the process of transforming raw data into a clean and structured format to improve the performance of machine learning models. It involves handling missing values, encoding categorical data, scaling numerical features, removing duplicates, normalizing data, and handling outliers.

# Import the libraries and read the csv file

In [31]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.impute import SimpleImputer

# Load Data
file_path = "coffee_consumption_india.csv"
df = pd.read_csv(file_path)

## Removing Outliers Using IQR Method

Outliers can negatively impact data analysis and machine learning models. The **Interquartile Range (IQR) method** is used to detect and remove extreme values. It calculates the first quartile (Q1) and third quartile (Q3), then determines the **IQR = Q3 - Q1**. Any values outside **1.5 * IQR** from Q1 and Q3 are considered outliers and removed from the dataset. This ensures a more stable and accurate model.

In [5]:
import numpy as np

# Remove outliers using the IQR method
def remove_outliers(df, col):
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    df = df[(df[col] >= (Q1 - 1.5 * IQR)) & (df[col] <= (Q3 + 1.5 * IQR))]
    return df

for col in ["Daily Cups Consumed", "Monthly Coffee Expense (INR)", "Frequency of Café Visits (Per Week)"]:
    df = remove_outliers(df, col)

In [6]:
# Create a new feature: Coffee Expense Per Cup
df["Expense Per Cup"] = df["Monthly Coffee Expense (INR)"] / (df["Daily Cups Consumed"] * 30)

# Create a binary feature: High Coffee Consumer (1 if >3 cups/day, else 0)
df["High Coffee Consumer"] = (df["Daily Cups Consumed"] > 3).astype(int)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   City                                 10000 non-null  object
 1   State                                10000 non-null  object
 2   Age Group                            10000 non-null  object
 3   Gender                               10000 non-null  object
 4   Coffee Type                          10000 non-null  object
 5   Daily Cups Consumed                  10000 non-null  int64
 6   Preferred Coffee Brand               10000 non-null  object
 7   Consumption Setting                  10000 non-null  object
 8   Monthly Coffee Expense (INR)         10000 non-null  int64
 9   Reason for Consumption               10000 non-null  object
 10  Milk Preference                      10000 non-null  object
 11  Sugar Preference                     10000 non-null  object
 12  Awareness of Specialty Coffee        10000 non-null  object
 13  Frequency of Café Visits (Per Week)  10000 non-null  int64
 14  Preferred Time of Consumption        10000 non-null  object
 15  Influence of Social Media on Choice  10000 non-null  object
 16  Expense Per Cup                      10000 non-null  float64
 17  High Coffee Consumer                 10000 non-null  int64
dtypes: float64(1), int64(4), object(13)
memory usage: 1.4+ MB

# Returns Null values list

In [9]:
df.isnull().sum()

City                                   0
State                                  0
Age Group                              0
Gender                                 0
Coffee Type                            0
Daily Cups Consumed                    0
Preferred Coffee Brand                 0
Consumption Setting                    0
Monthly Coffee Expense (INR)           0
Reason for Consumption                 0
Milk Preference                        0
Sugar Preference                       0
Awareness of Specialty Coffee          0
Frequency of Café Visits (Per Week)    0
Preferred Time of Consumption          0
Influence of Social Media on Choice    0
Expense Per Cup                        0
High Coffee Consumer                   0
dtype: int64

In [11]:
# Check for missing values
missing_values = df.isnull().sum()

# Display only columns with missing values
missing_values = missing_values[missing_values > 0]
print("Missing Values in Each Column:\n", missing_values)

Missing Values in Each Column:
 Series([], dtype: int64)

In [12]:
# Fill missing values with forward fill method
df.fillna(method='ffill', inplace=True)

# OR drop missing values if necessary
df.dropna(inplace=True)

/var/folders/x4/2y3znnw91g1b_9wcy2b7t8_c0000gp/T/ipykernel_77496/3470470274.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)

In [13]:
from sklearn.preprocessing import LabelEncoder

categorical_columns = df.select_dtypes(include=['object']).columns
label_encoders = {}

for col in categorical_columns:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoders[col] = le  # Store encoders for future decoding

print("Categorical Data Encoded Successfully!")

Categorical Data Encoded Successfully!

In [14]:
from sklearn.preprocessing import StandardScaler

# Select numerical columns
numerical_columns = ["Daily Cups Consumed", "Monthly Coffee Expense (INR)", "Frequency of Café Visits (Per Week)"]

# Apply Standard Scaling
scaler = StandardScaler()
df[numerical_columns] = scaler.fit_transform(df[numerical_columns])

print("Numerical Columns Scaled!")

Numerical Columns Scaled!

In [15]:
# Check for duplicate rows
duplicates = df.duplicated().sum()
print(f"Total Duplicates: {duplicates}")

# Remove duplicates if any
df.drop_duplicates(inplace=True)
print("Duplicates Removed!")

Total Duplicates: 0
Duplicates Removed!

In [19]:
numeric = []
category = []
for col in df.columns:
    if df[col].dtype == "O":
        category.append(col)
    else:
        numeric.append(col)

In [20]:
df[category]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[10000 rows x 0 columns]

In [23]:
numeric_feature_scale_std = StandardScaler()
numeric_feature_scale_std_minmax = MinMaxScaler()

In [24]:
category_feature_encode_le = LabelEncoder()
category_feature_encode_one = OneHotEncoder()

In [25]:
df[numeric]

,City,State,Age Group,Gender,Coffee Type,Daily Cups Consumed,Preferred Coffee Brand,Consumption Setting,Monthly Coffee Expense (INR),Reason for Consumption,Milk Preference,Sugar Preference,Awareness of Specialty Coffee,Frequency of Café Visits (Per Week),Preferred Time of Consumption,Influence of Social Media on Choice,Expense Per Cup,High Coffee Consumer
0,3,0,0,2,2,0.699277,0,1,-1.092498,3,1,3,0,1.487359,2,1,8.833333,1
1,3,0,1,1,1,-0.004363,3,1,1.006872,3,0,1,0,0.488763,1,1,44.133333,0
2,1,2,3,0,2,-0.708002,0,1,-1.376547,1,1,3,0,1.487359,2,0,11.100000,0
3,6,8,2,1,3,-0.004363,3,1,0.770404,2,1,2,0,-0.010535,0,1,40.488889,0
4,8,3,1,0,4,-0.004363,0,1,-0.497725,2,0,0,0,0.488763,0,0,20.944444,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2,5,1,1,1,-0.004363,3,2,1.549738,1,0,0,0,-0.010535,3,1,52.500000,0
9996,9,3,3,1,2,-0.708002,2,1,-0.956241,2,0,1,0,-1.009131,0,0,20.816667,0
9997,6,8,1,1,1,1.402916,2,0,-1.137917,1,1,1,0,-0.010535,3,0,6.646667,1
9998,6,8,2,1,2,0.699277,0,1,-0.782495,1,1,0,0,-1.009131,1,0,12.416667,1
9999,7,7,1,0,1,-0.004363,0,0,-0.135814,3,0,1,1,-0.509833,2,1,26.522222,0

In [26]:

df[numeric] = numeric_feature_scale_std.fit_transform(df[numeric])

In [27]:
df.sample(10)

,City,State,Age Group,Gender,Coffee Type,Daily Cups Consumed,Preferred Coffee Brand,Consumption Setting,Monthly Coffee Expense (INR),Reason for Consumption,Milk Preference,Sugar Preference,Awareness of Specialty Coffee,Frequency of Café Visits (Per Week),Preferred Time of Consumption,Influence of Social Media on Choice,Expense Per Cup,High Coffee Consumer
6663,-0.165058,0.856592,0.430422,-0.013133,-1.426148,-0.004363,-1.416416,-1.225971,-0.436445,0.459749,0.996805,-1.340837,-0.988664,-1.508429,1.329989,0.995012,-0.489483,-0.821951
8375,-0.165058,0.856592,-0.460906,-0.013133,-0.715809,-1.411641,-0.707570,-0.000245,-0.240350,-1.310218,0.996805,-1.340837,1.011466,0.988061,-0.456670,0.995012,0.979278,-0.821951
441,-0.858432,0.453490,0.430422,-1.240533,0.704869,0.699277,-0.707570,1.225481,1.236130,1.344733,0.996805,0.448735,-0.988664,-1.508429,-0.456670,-1.005013,-0.104226,1.216618
7579,-0.511745,-1.562021,0.430422,-1.240533,-1.426148,1.402916,0.710122,1.225481,-0.742843,-1.310218,-1.003205,1.343521,-0.988664,1.487359,-0.456670,0.995012,-0.811585,1.216618
8753,1.221690,-0.352714,-0.460906,-0.013133,-0.715809,-0.708002,-1.416416,1.225481,-0.719052,-1.310218,-1.003205,-1.340837,-0.988664,-1.508429,-1.349999,0.995012,-0.366880,-0.821951
170,-1.551806,-1.158919,-0.460906,1.214267,-0.005470,1.402916,0.001276,-0.000245,-1.187662,-0.425235,0.996805,0.448735,-0.988664,0.488763,1.329989,-1.005013,-0.925911,1.216618
2800,-1.551806,-1.158919,-0.460906,-0.013133,1.415208,-0.708002,-1.416416,-1.225971,1.419969,1.344733,-1.003205,-0.446051,1.011466,-0.010535,-0.456670,0.995012,1.007535,-0.821951
6758,-1.205119,-0.755816,-0.460906,-1.240533,1.415208,0.699277,-1.416416,-1.225971,-0.557562,1.344733,-1.003205,-0.446051,-0.988664,1.487359,0.436659,0.995012,-0.680489,1.216618
6392,0.528316,1.662796,-1.352234,-0.013133,0.704869,0.699277,1.418968,-0.000245,0.738683,0.459749,-1.003205,-1.340837,-0.988664,-0.509833,-1.349999,0.995012,-0.264042,1.216618
3654,1.568377,-0.352714,-1.352234,-1.240533,1.415208,0.699277,-1.416416,-1.225971,-1.659876,-1.310218,0.996805,-1.340837,1.011466,0.488763,-0.456670,0.995012,-1.034632,1.216618

In [28]:
df[category]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[10000 rows x 0 columns]

In [29]:
for i in category:
    df[i] = category_feature_encode_le.fit_transform(df[i].astype(str))